<%= javascript_pack_tag 'application' %>
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mt-3 row">
  <div class="col-8">

  <div class="form-group">
  <%= form.label :Titulo %>
  <%= form.text_field :title ,class: "form-control" %>
  </div>

  
  <div class="form-group">
   <%= form.label :Contenido %>
  <%= form.rich_text_area :content ,class: "form-control form-group text-rich-area"   %>
  </div>
 
 <textarea oninput="this.style.height = '5px';this.style.height = (this.scrollHeight)+'px';"></textarea>
  
  <div class="form-group">
  <%= form.label :category_id %></br>
  <%= form.select :category_id , Category.all.collect {|c| [c.name, c.id]},{},{class: "form-control "} %>  </br>
  </div>
  <div class="form-group">
  <div class="actions ">
    <%= form.submit class:"btn btn-success" %>
  </div>
  </div>
  
  
  </div>
  </div>


<% end %>
