<div class="container">
<div class="row">
<div class="col-12 pt-3 pb-3"> 
<% if account_signed_in? %>
<%= link_to "Cerrar sesion  ", destroy_account_session_path,method: :delete , class: "btn btn-danger float-right ml-3"%>
<% else %>
<%= link_to "Iniciar sesion  ", new_account_session_path , class: "btn btn-primary float-right ml-3"%>
<%= link_to "Abrir cuenta  ", new_account_registration_path , class: "btn btn-success float-right ml-3"%>
<% end %>

<%= link_to "Dashboard", dashboard_path, class:"text-dark float-right ml-3 mt-2" if account_signed_in? %>


<%= link_to "Inicio", root_path, class: "text-dark" %> >>
<% if @post.present? && !@post.new_record?
category = @post.category
parent = @post.category.parent


%>

<% if parent.present? %>
<%= link_to parent.name, category_path(parent) %> >>

<% end %>


<%= link_to @post.category.name, category_path(@post.category) %> >>
<%= @post.title %>

<% elsif @category.present? 
   parent = @category.parent  %>

   <%if parent.present? %>

    <%= link_to parent.name, category_path(parent) %> >>
    <% end %>
   <%= @category.name %>


<% end %>

</div>
</div>
</div>