<!DOCTYPE html>
<html>
  <head>
    <title>Create</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main">
    <div class="main-left">
    <h2> <%= link_to "Avisos Clasificados", root_path%> </h2>
    <%= link_to "Crear Anuncio", new_post_path if controller.controller_name == "public" %>
    <%= render "categories/categories_sidebar" if controller.controller_name == "categories" %>
    
    </div>
    <div class="main-right">
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>S>
    <%= yield%>
    </div>
    </div>
  </body>
</html>
