<!DOCTYPE html>
<html>
  <head>
    <title>Create</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main">
    <div class="main-left">
    <p> Avisos Clasificados </p>
    
    </div>
    <div class="main-right">
    <%= yield%>
    </div>
    </div>
  </body>
</html>
