<!DOCTYPE html>
<html>
  <head>
    <title>Create</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet"> 
  </head>

  <body>
  <header class="header">
  <%= render "layouts/breadcrumb_nav"  %>
   </header>
    <div class="container ">
    <div class="row">
    <div class="col-3">
    <h2> <%= link_to "Avisos Clasificados", root_path, class:"text-dark "%> </h2>

     <%= link_to "Crear Anuncio", new_post_path,class:"text-light btn btn-success" unless is_auth? %>

    <p class="registrarse"><%= link_to "Registrarse", new_account_session_path if controller.controller_name == "public" unless account_signed_in?  %> </p> </br>
   
    <%= render "categories/categories_sidebar" if controller.controller_name == "categories" %>
    
    <% if is_home? || is_auth? %>

    <div class="legales-nav">
    <p><%= link_to "Ayuda FAQ", faqs_path %></p>
    <p><%= link_to "Legal", terms_path %></p>
    <p><%= link_to "Cuidado con estafas.", scams_path %></p>
    <p><%= link_to "Seguridad.", safety_path %></p>
    </div>
    <% end %>
   
   </div>
  
    <div class="col-9">
   
    <%= yield%>
    </div>
    </div>

    <%= flash_notifications%>
  </body>
</html>
